/* colors */
.bg-p {
    background-color: gray;
    color: black;
}

.bg-s{
    background-color: lightgrey;
}

body, html {
    height: 100%;
}

.list-group {
    overflow-y: scroll;
}

.list-group-item {
    width: 100%;
    word-wrap: normal;
    word-break: break-all;
}

.h-100 {
    max-height: 99.9vh;
}

.h-90 {
    height: 90%;
    min-height: 90%;
    max-height: 90vh;
}

.h-10 {
    height: 10%;
    min-height: 10%;
    max-height: 10%;
}

/* users formatting */
#users-label{
    font-weight: bold;
}

.user {
    font-size: large;
    margin: 0;
}

#users > .list-group-item {
    margin-bottom: 3px;
}

/* message formatting */
.username {
    font-size: larger;
    font-weight: normal;
}

.timestamp {
    font-size: small;
    margin-left: 1em;
}

.message {
    margin: -3px 0;
}